<h1>---------------- ***************   Angular ------------ *********************</h1>

<contact-form></contact-form>


<!-- 
<directives></directives>
<like [is-liked]="tweet.isliked" [likes-count]="tweet.likesCount"></like>
<bootstrap-panel>
    <ng-container class="heading">Ng container Heading</ng-container>
    <ng-container class="body">Ng container Body</ng-container>
</bootstrap-panel>
<app-favorite [is-favorite]="post.isFavorite" (change)="onChangeFavorite($event)"></app-favorite>
<courses></courses>
<app-author></app-author>
<app-star></app-star>
<app-title-case></app-title-case> -->
